{% extends 'A_content/sb_base.html' %}

{% block spellbook_md %}
<h1>This is a test</h1>
<p>This is a test</p>
<h2>This is a test</h2>
<p>This is a test</p>
<h3>This is a test</h3>
<ol>
<li>This is a test</li>
<li>This is a test</li>
<li>This is a test</li>
<li>This is a test</li>
<li>This is a test</li>
<li>This is a test</li>
<li>This is a test</li>
<li>This is a testt</li>
<li>
<p>This is a test
6.</p>
</li>
<li>
<p>This is a test</p>
</li>
<li>
<p>Yooo</p>
</li>
</ol>
<p>What else can we test in markdown?</p>
<p><a href="https://www.google.com">This is a link</a></p>
<p><img alt="This is an image" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" /></p>
<p><a href="https://www.google.com">This is a link</a></p>
<h1>This is a test</h1>
<p>This is a test</p>
<h2>This is a test</h2>
<p>This is a test</p>
<h3>This is a test</h3>
<p><strong>This is a test</strong></p>
<p><em>This is a test</em></p>
<p><em>You can also italicize text</em></p>
<p><strong>You can also bold text</strong></p>
<p>~~This was mistaken text~~</p>
<blockquote>
<p>This is a quote</p>
<p>This is a quote</p>
<p>This is a quote</p>
<blockquote>
<p>This is a nested quote</p>
<p>This is another nested quote</p>
</blockquote>
<p>Back to the first level</p>
</blockquote>
{% endblock %}