{% extends 'A_content/sb_base.html' %}

{% block spellbook_md %}
<h1>My Spellbook Page</h1>
<div class="spell-container" id="fireball-spell">
<h2>Fireball</h2>
<p><strong>Level:</strong> 3rd-level evocation
<strong>Casting Time:</strong> 1 action
<strong>Range:</strong> 150 feet
<strong>Components:</strong> V, S, M (a tiny ball of bat guano and sulfur)
<strong>Duration:</strong> Instantaneous
A bright streak flashes from your pointing finger to a point you choose within range and then blossoms with a low roar into an explosion of flame.
</p>
</div>
{% endblock %}